@model MVCFoundation.Models.ContactModel

<h2>Contact</h2>


<address>
    <strong>Our contact: </strong>@Model.ContactName<br />
    <strong>Contact email: </strong><a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a><br />
</address>